<div class="container">
  <h4>Iniciar Sesión</h4>
  <form (ngSubmit)="login()">
    <div class="input-field">
      <input type="email" [(ngModel)]="usuario.email" name="email" required />
      <label>Email</label>
    </div>

    <div class="input-field">
      <input type="password" [(ngModel)]="usuario.password" name="password" required />
      <label>Contraseña</label>
    </div>

    <button class="btn green" type="submit">Entrar</button>
  </form>

  <p>¿No tienes cuenta? <a routerLink="/registro">Regístrate</a></p>
</div>
