<div class="row">
  <div class="col s12 m6">
    <form #productoForm="ngForm" (ngSubmit)="agregarProductos(productoForm)">
      <!-- Campo: Nombre -->
      <div class="input-field">
        <input type="text" name="nombre" [(ngModel)]="productoService.selectedProducto.nombre" required />
        <label for="nombre">Nombre</label>
      </div>

      <!-- Campo: Precio -->
      <div class="input-field">
        <input type="number" name="precio" [(ngModel)]="productoService.selectedProducto.precio" required />
        <label for="precio">Precio</label>
      </div>

      <!-- Campo: Garantía -->
      <div class="input-field">
        <input type="text" name="marca" [(ngModel)]="productoService.selectedProducto.marca" required />
        <label for="garantia">marca</label>
      </div>

      <!-- Botón Guardar -->
      <button class="btn blue" type="submit">
        Guardar
      </button>
    </form>
  </div>

  <!-- Tabla de productos existentes -->
  <div class="col s12 m6">
    <table class="striped">
      <thead>
        <tr>
          <th>Nombre</th>
          <th>Precio</th>
          <th>marca</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let producto of productoService.productos">
          <td>{{ producto.nombre }}</td>
          <td>{{ producto.precio }}</td>
          <td>{{ producto.marca }}</td>
          <td>
            <button class="btn-small orange" (click)="editarProducto(producto)">
              Editar
            </button>
            <button class="btn-small red" (click)="eliminarProducto(producto._id)">
              Eliminar
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
